@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Space Mono', monospace;
  background: #f4f1ea;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.box-shadow {
  border: 2px solid #333;
  box-shadow: 6px 6px 0px #333;
  background: #fff;
}

.btn-primary {
  background-color: #e29578; 
  border: 2px solid #333;
  color: #fff;
  box-shadow: 4px 4px 0px #333;
}

.btn-primary:hover {
  background-color: #d08466;
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #333;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}

.border-placeholder {
  border-style: dashed;
  border-width: 2px;
  border-color: #333;
  padding: 15px;
  background: #fff;
}